<div class="account__dog">
    <div class="account__dog__image">
      <img src="{{ dog.picture }}">
    </div>
    <div class="account__dog__content">
        <p class="account__dog__name">{{ dog.name }}</p>
        <p class="account__dog__info">{{ dog.bread }} - {{ dog.size | capitalize }}</p>
        <p class="account__dog__birthday"><strong>Birth date:</strong> {{ dog.birthday }}</p>

        <div class="account__dog__links">
            <a href="#" data-dog-edit>Edit</a>
            <a href="#" data-dog-remove>Remove</a>
        </div>
    </div>

    <div class="account__dog__modal" data-dog-modal data-dog-modal-close>
        <div class="account__dog__modal__inner">
            <form action="#" method="POST" class="acount__dog__modal__form">
                <div class="account__dog__modal__image">
                    <img src="{{ dog.picture }}">
                    <input type="file">
                </div>
                <div class="account__dog__modal__content">
                    <div>
                        <label for="">Name</label>
                        <input type="text" name="name" value="{{ dog.name }}">
                    </div>
                    <div>
                        <label for="">Bread</label>
                        <input type="text" name="bread" value="{{ dog.bread }}">
                    </div>
                    <div>
                        <label for="">Size</label>
                        <select name="size" id="">
                            <option value="small" {% if dog.size == 'small' %}selected{% endif %}>Small</option>
                            <option value="medium"{% if dog.size == 'medium' %}selected{% endif %}>Medium</option>
                            <option value="large" {% if dog.size == 'large' %}selected{% endif %}>Large</option>
                            <option value="extra large" {% if dog.size == 'extra-large' %}selected{% endif %}>Extra Large</option>
                        </select>
                    </div>

                    <div>
                        <label for="">Birthday</label>
                        <input type="text" name="birthday" value="{{ dog.birthday }}">
                    </div>

                    <button type="submit" class="action_button">Update Dog</button>
                </div>
            </form>
        </div>
    </div>
</div>
