<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
    <meta name="referrer" content="origin">

    <title>{{ page_title }}</title>

    {{ content_for_header }}

    {{ checkout_stylesheets }}
    {{ checkout_scripts }}
  
    {{ 'checkout.scss.css' | asset_url | stylesheet_tag }}

<!-- Start of Littledata - Fix Google Analytics Script-->
{% include 'LittledataLayer' %}
<!-- End of Littledata - Fix Google Analytics Script -->

  {% render 'shogun-head' %}

  <!-- Attentive -->
  {% include 'attentive-header' %} 
 

    
</head>
  <body>
    {{ skip_to_content_link }}

    <header class="banner" data-header role="banner">
      <div class="wrap">
        {{ content_for_logo }}
      </div>
    </header>

    {{ order_summary_toggle }}
    <div class="content" data-content>
      <div class="wrap">
        <div class="main">
          <header class="main__header" role="banner">
            {{ content_for_logo }}
            {{ breadcrumb }}
            {{ alternative_payment_methods }}
          </header>
          <main class="main__content" role="main">
            {{ content_for_layout }}
            <!-- Attentive -->
            {% include 'attentive-opt-in' %}
          </main>
          <footer class="main__footer" role="contentinfo">
            {{ content_for_footer }}
          </footer>
        </div>
        <aside class="sidebar" role="complementary">
          <div class="sidebar__header">
            {{ content_for_logo }}
          </div>
          <div class="sidebar__content">
            {% if settings.display_free_shipping_bar %}
              {% if settings.cart_gift != blank and settings.cart_gift_amount != 0 %}
                {% assign gift_amount_needed = settings.cart_gift_amount | times: 100 %}
                {% assign amount_left_to_get_a_gift = gift_amount_needed | minus: checkout.line_items_subtotal_price | money %}
                <div class="promo-message">
                  <div class="info">
                    {% include 'icon-present' %}
                    {% if checkout.line_items_subtotal_price  >= gift_amount_needed %}
                      {{ settings.cart_gift_earned }}
                    {% else %}
                      {{ settings.cart_gift | replace: '%s', amount_left_to_get_a_gift }}
                    {% endif %}
                  </div>
                  <div class="progress">
                    <span class="amount">{{ checkout.total_price | money }}</span>
                    <div class="bar-wrapper">
                    <!-- <div class="bar" style="width: {{ gift_amount_needed | minus: checkout.line_items_subtotal_price | times: 100 | divided_by: gift_amount_needed | round }}%;"></div> -->
                    <div class="bar" style="width: {{ checkout.line_items_subtotal_price | times: 100 | divided_by: gift_amount_needed | round | at_most: 100 }}%;"></div>
                    </div>

                    <span class="amount">{{ gift_amount_needed | money }}</span>
                  </div>
                </div>
                <hr />
              {% endif %}
            {% endif %}
            {{ content_for_order_summary }}
          </div>
        </aside>
      </div>
    </div>

    {{ tracking_code }}

    {% include 'smile-initializer' %}
    {% include 'smile-points-slider' %}
<script async src="https://rebuyengine.com/js/rebuy?shop=bestbully.myshopify.com"></script>
</body>
</html>
<div data-rebuy-id="1254"></div>
<div data-rebuy-id="5203"></div>


