
{% if section.settings.promo_text != blank %}
<div class="promo_banner">
    <div class="promo_banner__content">
        {{ section.settings.promo_text }}
    </div>
    <div class="promo_banner-close"></div>
</div>
{% endif %}
{% if section.settings.enable %}
<div class="announcement-bar" style="background: {{ section.settings.bg }}">
    <div class="container">
        <div class="announcement-bar__text" style="color: {{ section.settings.text_color }}">
            <a href="{{ section.settings.url }}">{{ section.settings.text }}</a>
            <div class="mobile-text">
                <a href="{{ section.settings.mobile_url }}" >{{ section.settings.mobile_text }}</a>
            </div>
        </div>
    </div>
</div>
{% endif %}

<script>
  
</script>
{% schema %}
 
{
  "name": "Announcement Bar",
  "class": "announcement-section",
  "settings": [
    {
        "type": "header",
        "content": "Announcement bar"
    },
    {
        "type": "richtext",
        "id": "promo_text",
        "label": "Text",
        "info": "Maximum character limit is 170"
    },
    {
        "type": "checkbox",
        "id" : "enable",
        "label" : "Enable"
    },
    {
        "type" : "text",
        "id" : "text",
        "label" : "Text"
    },
    {
        "type" : "url",
        "id" : "url",
        "label" : "Link"
    },
    {
        "type" : "text",
        "id" : "mobile_text",
        "label" : "Mobile Text"
    },
    {
        "type" : "url",
        "id" : "mobile_url",
        "label" : "Mobile Link"
    },
    {
        "type" : "color",
        "id" : "bg",
        "label" : "Background"
    },
    {
        "type" : "color",
        "id" : "text_color",
        "label" : "Text Color"
    }

    ]
}
{% endschema %}